#foreach ($pk in $table.PrimaryKeys)#foreach ($pkline in $table.LineTable.PrimaryKeys)#if($pkline.JavaName!=$pk.JavaName)
            	line.set${pkline.JavaName}(String.valueOf(orderId++));
#end#end#end