#set ( $dbprops = $properties.load("$generator.TemplatePath/$basepath/db.props") )
#set ( $fname= "$basepath/table.vm" )
#set ( $drop= "$basepath/drop.vm" )
#set ( $pk = "$basepath/pk.vm" )
#set ( $droppk = "$basepath/droppk.vm" )
#set ( $fnamekeys= "$basepath/tablefk.vm" )
#set ( $dropfk= "$basepath/dropfk.vm" )
#set ( $index = "$basepath/idx.vm" )
#set ( $dropindex = "$basepath/dropindex.vm" )
#set ( $export = "$basepath/db2export.vm" )
#set ( $load = "$basepath/db2load.vm" )

#foreach ($databaseModel in $appData.Databases)

    #if ($project)
        #if ($appData.MultipleDatabases)
            #set ( $createFile = "${project}-${databaseModel.Name}-schema_create.sql" )
            #set ( $exportFile = "${project}-${databaseModel.Name}-schema_export.sql" )
            #set ( $loadFile = "${project}-${databaseModel.Name}-schema_load.sql" )
            #set ( $fkFile = "${project}-${databaseModel.Name}-schema_fk.sql" )
            #set ( $fkdropFile = "${project}-${databaseModel.Name}-schema_dropfk.sql" )
            #set ( $dropFile = "${project}-${databaseModel.Name}-schema_drop.sql" )
            #set ( $pkdropFile = "${project}-${databaseModel.Name}-schema_droppk.sql" )
            #set ( $pkFile = "${project}-${databaseModel.Name}-schema_pk.sql" )      
            #set ( $indexdropFile = "${project}-${databaseModel.Name}-schema_dropindex.sql" )
            #set ( $indexFile = "${project}-${databaseModel.Name}-schema_index.sql" )              
        #else
            #set ( $createFile = "${project}-schema_create.sql" )
            #set ( $exportFile = "${project}-schema_export.sql" )
            #set ( $loadFile = "${project}-schema_load.sql" )
            #set ( $fkFile = "${project}-schema_fk.sql" )
            #set ( $fkdropFile = "${project}-schema_dropfk.sql" )
            #set ( $dropFile = "${project}-schema_drop.sql" )
            #set ( $pkdropFile = "${project}-schema_droppk.sql" )
            #set ( $pkFile = "${project}-schema_pk.sql" )
            #set ( $indexdropFile = "${project}-schema_dropindex.sql" )
            #set ( $indexFile = "${project}-schema_index.sql" )            
        #end
		
        #foreach ($tbl in $databaseModel.Tables)
            #if (!$tbl.isSkipSql())
                $generator.parse($fname,$createFile,"table",$tbl)
			    $generator.parse($drop, $dropFile, "table", $tbl)
			    $generator.parse($pk,$pkFile,"table",$tbl)	    
                $generator.parse($droppk,$pkdropFile,"table",$tbl)
			    $generator.parse($fnamekeys,$fkFile,"table",$tbl)
                $generator.parse($dropfk,$fkdropFile,"table",$tbl)
                $generator.parse($index,$indexFile,"table",$tbl)         
                $generator.parse($dropindex,$indexdropFile,"table",$tbl)			    
			    $generator.parse($export, $exportFile, "table", $tbl)
			    $generator.parse($load, $loadFile, "table", $tbl)          
            #end
        #end                 
    #end
#end