<%@ page contentType="text/html;charset=GBK" %>
<%@ page import="org.loushang.waf.ResourcesFactory"%>
<%@ taglib uri="/tags/web-html" prefix="html"%>
<%@ taglib uri="/tags/loushang-bsp" prefix="bsp"%>
<%@ taglib uri="/tags/web-loushang" prefix="loushang"%>
#set ($dateHave=0)
#foreach ( $col in $table.Columns )
#if( $col.Format=="date"&& $dateHave==0)
<%@ taglib uri="/tags/web-date" prefix="date"%>
#set ($dateHave=1)
#end
#end
#set ($dateHave=0)
<HTML>
<HEAD>
<TITLE>${table.chineseDescription}增加</TITLE>
<link rel="stylesheet" type="text/css" href="<loushang:ui css='skin.css'/>">
#foreach ( $col in $table.Columns )
#if( $col.Format=="date"&& $dateHave==0)
<link rel="stylesheet" type="text/css" href="<loushang:ui css='date.css'/>">
<script language="javascript" src="<loushang:ui js='calendar.js'/>"></script>
#set ($dateHave=1)
#end
#end
#set ($dateHave=0)
<script language="javascript" src="<loushang:ui js='loushangfunction.js'/>"></script>
<script language="javascript">
function check${table.JavaName}(){
#foreach ( $col in $table.Columns )
#set ( $clo=${strings.lowercaseFirstLetter($col.JavaName)} )
##-----------------boolean判断---------------##
#if($col.isBooleanChar()||$col.isBooleanInt||$col.JavaType.toLowerCase()=="boolean")    
	var ${clo} = document.forms[0].${clo};
	var is${clo}Return=false;	  
	if(${clo}.length>0){
	     for(var k=0;k<${clo}.length;k++){
	  	if(${clo}[k].checked){
	  	     is${clo}Return=true;
	  	     break;
	  	}	  	
	     }
	}
	if(!is${clo}Return){
	     alert("请选择${col.chineseDescription}!"); 
	     return false;
	} 
##-----------------------------------------##	
#else
#if ($col.InsertShow)
	  var ${clo} = document.forms[0].${clo};
#if( $col.isNotNull()||$col.isPrimaryKey() )
  #if( $col.isPrimaryKey() )
	  if ( __isQuoteIn(${clo}.value) )
	  {
	    alert("${col.chineseDescription}不能含有引号或单引号!");
	    ${clo}.select();
	    ${clo}.focus();
	    return false;
	  }
  #end
    if (trim(${clo}.value)=="")
	{
	  alert("请输入${col.chineseDescription}！");    
	  ${clo}.focus();
	  return false;
	}
    ${clo}.value = trim(${clo}.value) ;
  #end
#if( ($col.Format=="date"))
   if ( !__checkStdDate(${clo} ) )
    {
     alert("${col.chineseDescription}"+sError);
     ${clo}.focus();
     return false;
    }  
#elseif($col.JavaType=="BigDecimal")
    if (! __isFloat(${clo}.value) )   
    {
      alert("${col.chineseDescription}不是合法浮点数");
      ${clo}.focus();
      return false;
    }   
#elseif($col.JavaType=="Integer")
    if (! __isNum(${clo}.value) )   
    {
      alert("${col.chineseDescription}不是合法数字");
      ${clo}.focus();
      return false;
    }   
#end
#end
#end 
#end 
	return true
}

</script>
</HEAD>
<BODY topmargin="10px">
<html:form  name="frmList"  action="">
<bsp:container title="${table.chineseDescription}增加" >
<bsp:containbutton action="${table.JavaName.toLowerCase()}.cmd?method=insert" text="保存" onclick="forSave()"></bsp:containbutton>
<bsp:containbutton action="${table.JavaName.toLowerCase()}.cmd?method=insertContinue" text="保存并继续" onclick="forSaveContinue()"></bsp:containbutton>
<bsp:containbutton text="恢复" onclick="forReset()"></bsp:containbutton>
<bsp:containbutton action ="${table.JavaName.toLowerCase()}query_page_init.cmd" text="返回" onclick="forReturn()"></bsp:containbutton>
<html:messages></html:messages>
<div align="center">
  <table width="100%" cellpadding="0" class="tblContent">  
#set ( $size = "")
#set ( $maxlength = "")
#set ( $totalsize = 0 )
#set ( $nSize = 0 )
#foreach ( $col in $table.Columns )
#set ( $clo=${strings.lowercaseFirstLetter($col.JavaName)} )
#if ($col.DefaultValue)
#set ($defaultValue = "$col.DefaultValue")
#else
#set ($defaultValue = "")
#end
#set ( $dquote='"' )
#if ( $col.Size )
#if ( $col.inputSize )    
#set ( $size = "size=${dquote}${col.inputSize}${dquote}" )  
#else
#set ( $size = "size=${dquote}${col.Size}${dquote}" )    
#end
#set ( $maxlength = "maxlength=${dquote}${col.Size}${dquote}" )
#else
#set ( $size = "size=${dquote}8${dquote}" )
#set ( $maxlength = "maxlength=${dquote}8${dquote}" )
#end
#if ($col.InsertShow)
#if($col.isTextArea())
					<tr>
	                    <td class="tdTitle"><%=ResourcesFactory.getString("${table.Name}.${col.Name}")%>：</td>
	                    <td class="tdRight"><html:textarea name="$clo" cols="$col.Cols" rows="$col.Rows" property="$clo"/></td>
                    </tr>
#elseif($col.InsertReadonly=="true")
                    <tr>
                    <td class="tdTitle"><%=ResourcesFactory.getString("${table.Name}.${col.Name}")%>：</td>
                    <td class="tdRight"><html:text name="$clo" property="$clo" $size $maxlength readonly="true"/></td>
                    </tr>
#elseif( $col.JavaType == "boolean" || $col.JavaType == "booleanchar" )
					<tr>
                    <td class="tdTitle"><%=ResourcesFactory.getString("${table.Name}.${col.Name}")%>：</td>
                    <td class="tdRight">
#if($col.EnumValueList)
#set($n=0)
#foreach ($enum in $col.EnumValueList )
                    	<html:radio name="$clo" property="$clo" value="$col.EnumNameList.get($n)">$enum</html:radio>
#set($n=$n+1)
#end
#else
                    	<html:radio name="$clo" property="$clo" value="1">是</html:radio>
                    	<html:radio name="$clo" property="$clo" value="0">否</html:radio>
#end
                    </td>
                    </tr>
#elseif( $col.Format=="date" )
					<tr>
                    <td class="tdTitle"><%=ResourcesFactory.getString("${table.Name}.${col.Name}")%>：</td>
                    <td class="tdRight" valign=top>
						<date:date name="$clo" divname="${clo}dd" sourceFormat="yyyyMMdd" targetFormat="yyyyMMdd">
						</date:date>
					</td>
					</tr>
#elseif ( $col.hasEnumValue() ) 
					<tr>
                    <td class="tdTitle"><%=ResourcesFactory.getString("${table.Name}.${col.Name}")%>：</td>
                    <td class="tdRight">
                    	<html:select name="$clo" property="$clo" >
	                        <html:options collection="${table.JavaName.toUpperCase()}_${col.JavaName.toUpperCase()}_COLLECTION" labelProperty="value" property="key"/>
	                    </html:select>
	                </td>
                    </tr>
#elseif ( $col.isForeignKey() && ($col.ForeignKey.OnInsert == "select") )
#set ( $fk = $col.ForeignKey )
#foreach ( $fkcol in $fk.ForeignColumns )
				  	<tr>
				      <td class="tdTitle"><%=ResourcesFactory.getString("${table.Name}.${col.Name}")%>：</td>
				      <td class="tdRight">
				      	<html:select name="$clo" property="$clo" >
				      		<html:options collection="${table.JavaName.toUpperCase()}_${col.JavaName.toUpperCase()}_COLLECTION" labelProperty="$fk.showCol" property="$fkcol" />
				      	</html:select>
				      </td>
				    </tr>
#end
#else
					<tr>
                    <td class="tdTitle"><%=ResourcesFactory.getString("${table.Name}.${col.Name}")%>：</td>
                    <td class="tdRight"><html:text name="$clo" property="$clo" size="50" $maxlength />
                   #if($col.isNotNull())
	                     <span class="red1">*</span> 
	                    #end
                    </td>
                    </tr>                    
#end
#else
#if( $col.JavaType == "boolean" || $col.JavaType == "booleanchar" )
					<tr>
                    <td class="tdTitle"><%=ResourcesFactory.getString("${table.Name}.${col.Name}")%>：</td>
                    <td class="tdRight">
#if($col.EnumValueList)
#set($n=0)
#foreach ($enum in $col.EnumValueList )
                    	<html:radio name="$clo" property="$clo" value="$col.EnumNameList.get($n)">$enum</html:radio>
#set($n=$n+1)
#end
#else
                    	<html:radio name="$clo" property="$clo" value="1">是</html:radio>
                    	<html:radio name="$clo" property="$clo" value="0">否</html:radio>
#end
                    </td>
                    </tr>
#else
					<html:hidden name="$clo" property="$clo" write="false"/>                                      
#end
#end
#end        
  </table>
</div>
</bsp:container>
</html:form>
</BODY>
</HTML>
<script language="javascript">
function forSave(){
  if(!check${table.JavaName}()) return;	
  document.forms[0].action ="${table.JavaName.toLowerCase()}.cmd?method=insert";
  document.forms[0].submit();	
}
function forSaveContinue(){
  if(!check${table.JavaName}()) return;
  document.forms[0].action ="${table.JavaName.toLowerCase()}.cmd?method=insertContinue";
  document.forms[0].submit();	
}
function forReturn(){
  document.forms[0].action ="${table.JavaName.toLowerCase()}query_page_init.cmd";
  document.forms[0].submit();	
}
function forReset(){  
  document.forms[0].reset();	
}
</script>