<%@ page contentType="text/html; charset=utf-8" %>
<%@page import="red.sea.commons.util.RequestUtil"%>
<%@ page import="java.util.*"%>
<%@page import="red.sea.platform.code.CodeFactory"%>
<%@ page import="red.sea.commons.jdbc.db.adapter.PageInfo" %>
<%@ page import="red.sea.commons.jdbc.db.adapter.Page" %>
<%@ page import="${package}.data.${table.JavaName}" %>
<%@ taglib uri="/WEB-INF/html.tld" prefix="html"%>
<%
	String contextPath = request.getContextPath();
	request.setAttribute( "contextPath", contextPath );
%>


<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<TITLE>${table.chineseDescription}查询</TITLE>
	<!-- 导入JS和CSS样式-->
    <script type="text/javascript" src="<%=request.getContextPath()%>/skins/library/jquery/jquery-1.7.2.min.js"></script>
	<script type="text/javascript" src="<%=request.getContextPath()%>/skins/js/common/list_ajax.js"></script>
	<script type="text/javascript" src="${contextPath}/skins/js/common/pubfunction.js"></script>
	<!-- 新样式风格必须引入的 -->
    <link rel="stylesheet" type="text/css" href="${contextPath}/skins/library/bootstrap/css/bootstrap.min.css"> 
    <script src="${contextPath}/skins/library/bootstrap/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="${contextPath}/skins/style/css/common.css">
    <link rel="stylesheet" type="text/css" href="${contextPath}/skins/style/css/icon.css">
    <!-- 查询页面上有 checkbox的需要引入 -->
   <script type="text/javascript">
		
		$(function(){
		
			$("input[name='selectall_checkbox']").on('ifClicked',
		                function () {
		                    $('input:checkbox').iCheck('toggle');
		                });
		                          
			var operates = {
				edit:'${table.JavaName}.mc?method=edit${table.JavaName}&#parse("pk/pk.vm")=',
				del:'${table.JavaName}.mc?method=delete${table.JavaName}&PK=',
				view:'${table.JavaName}.mc?method=detail${table.JavaName}&#parse("pk/pk.vm")='
			};
			var options = {
				tableId:'pageTable',
				url:'${table.JavaName}.mc?method=ajax',
				operates:operates,
				formId:'searchForm',
				searchId:'searchBtn',
				primaryKey:'#parse("pk/pk.vm")'
			};
			
			jQuery.page( options );
			
			$("#moreSearch").toggle(function(){
				var cls = $(this).find("span").attr( "class" );
				if( cls == "search_more" ) {
					$(this).find("span").attr( "class", "search_more_on" );
				} else {
					$(this).find("span").attr( "class", "search_more" );
				}
				$("tr[class*=more]").show();
			},function(){
				$("tr[class*=more]").hide();
				var cls = $(this).find("span").attr( "class" );
				if( cls == "search_more" ) {
					$(this).find("span").attr( "class", "search_more_on" );
				} else {
					$(this).find("span").attr( "class", "search_more" );
				}
			});
			
		
			
		});
		
	
			
	</script>
</head>
<body>
	<form name="searchForm" method="post" class="form-search" action="" id="searchForm">
		<input type="hidden" name="pageNo" id="pageNo" />
 		<input type="hidden" name="pageSize" id="pageSize" />
 		<input type="hidden" name="start" id="start" />
 		<input type="hidden" name="orderName" id="orderName" />
 		
 		<!-- 查询条件显示区域start -->
 		<div class="tabelist" style="border:1px solid gray;width:100%;padding:10px;margin:0 auto;">
			<div style="margin:0 auto;width:100%;">
			<div class="title-common">
				 	${table.chineseDescription}查询
			</div>
				<div class="control-group">
					<table id="tblSearch" width="100%" id="sa1" border="0" cellpadding="0" cellspacing="0">
						<tr class="theight">
						 <td >
						 <button type="button" class="btn btn-primary" onclick="javascript:window.location.href='<%=contextPath%>/jsp/${table.JspPath}/${table.Name.toLowerCase()}_edit.jsp'">添加</button>
						 </td>
						  <td align="right">
							<div class="controls asearch">
								
#set ( $fkFlag=false )
#set ( $fkPk="" )
#foreach ( $col in $table.Columns )
#if ( $col.isForeignKey() )
#set ( $fk = $col.ForeignKey )
#set ( $fTable = $table.Database.getTable($fk.ForeignTableName) )
#foreach ( $fkcol in $fk.ForeignColumns )
#if ( $fk.showCol.equals($fkcol) )
#set ( $fkFlag=true )				
#else
#set ( $fkPk=$fkcol )
#end
#end
#end
#end
#set ( $queryType = "" )
#foreach ( $col in $table.Columns )
#if ( $col.SearchShow )
#if ( $col.JavaType=="int" )	
#set ( $queryType = "Integer" )				
#elseif ( $col.JavaType=="double" )		
#set ( $queryType = "Double" )									
#else	
#set ( $queryType = "String" )				
#end   
#if ( $col.hasEnumValue()) 
        <%
         request.setAttribute("${table.name.toUpperCase()}.${col.JavaName.toUpperCase()}",CodeFactory.getCodeListByCodeType("${table.name.toUpperCase()}.${col.JavaName.toUpperCase()}"));
        %>					
							  	${col.chineseDescription}：
					           	<select name="${col.Name.toLowerCase()}" id="${col.Name.toLowerCase()}">
						        	<option value="">全部</option>
						         	<html:options collection="${table.name.toUpperCase()}.${col.JavaName.toUpperCase()}" value="name" key="code"
						         	selected="${ param.${col.Name.toLowerCase()} }" />
						         </select>
#else    
		<input type='text' class="input-small" name="${col.Name.toLowerCase()}" placeholder="${col.chineseDescription}" value="${ param.${col.Name.toLowerCase()} }"/>
#end
#end
#end
		<button type="button" id="searchBtn" class="btn btn-group-vertical">搜索</button>
							</div>
						</td>
						</tr>
		</table>
				</div>
			</div>
			<!-- 查询条件显示区域end -->
			<!--//数据显示列表-->
			<div style="position: relative;">
				<div id="loading" style=" width:100%; height: 340px;position: absolute; top: 0; display:none;">
					<div style="background-color: ; position: absolute; top: 50%; left: 50%; margin: -33px 0 0 -33px;">
						<img src="skins/style/images/loading.gif" />
					</div>
				</div>
				<div class="tabelist">
					<table id="pageTable" width="100%" border="0" class="table table-hover table-condensed" cellpadding="0" cellspacing="0">
	  					<thead>
	                    	<tr height="22" class="tab_title_bg">
	                        	<th align="center">
	                            	<input name="selectall_checkbox" id="selectall_checkbox" type="checkbox" title="全选/取消" />
	                            </th>
	                            <!--表头循环开始 -->
#set ( $flag=1 )
#foreach ( $col in $table.Columns )
#set ( $dquote ='"' )
#set ( $dollar ='$' )
#set ( $clo=${strings.lowercaseFirstLetter($col.JavaName)})
#if ( $col.QueryShow && !$col.isForeignKey() )
#if ( $col.hasEnumValue() )
                    			<!-- 枚举列  ${col.chineseDescription}-->   
								<th align="center" trans="${col.Name.toLowerCase()}" rowName="${strings.lowercaseFirstLetter(${col.JavaName})}" orderName="$col.name.toLowerCase():DESC" title='$col.chineseDescription'>$col.chineseDescription</th>
#elseif ( $col.isPrimaryKey() )
								<!-- 主键列  ${col.chineseDescription}-->   
								<th align="center" rowName="${strings.lowercaseFirstLetter(${col.JavaName})}" orderName="$col.name.toLowerCase():DESC" title='$col.chineseDescription'>$col.chineseDescription</th>
#else
								<!-- 一般列  ${col.chineseDescription}-->   
								<th align="center" rowName="${strings.lowercaseFirstLetter(${col.JavaName})}" orderName="$col.name.toLowerCase():DESC" title='$col.chineseDescription'>$col.chineseDescription</th>
#end  
#end
#end
								<!--表头循环结束 -->	
	                    		<th align="center">操 作</th>                    
							</tr>
						</thead>
	                   	<tbody>
					    </tbody>      
					</table>
	               	<div id="pageMenu" class="page"></div>
	               	<div style="clear:both"></div>
				</div>
			</div>
		</div>
	</form>
</body>
</html>